<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="layer3_DataClass.Properties.Settings.saledbConnectionString"
            connectionString="Data Source=.;Initial Catalog=saledb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>